label {
  display: block;
  font-weight: 500;
  padding-bottom: 5px;
}

input,
textarea {
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  color: var(--text-colour);
  display: block;
  padding: 7px;
  width: 100%;
}

textarea {
  resize: vertical;
}

.contact-form {
  max-width: 500px;
}

.contact-form__row {
  margin-bottom: 1.5rem;
}

.contact-form__btn {
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  color: var(--text-colour);
  cursor: pointer;
  padding: 10px 15px 12px;

  &:hover {
    background-color: var(--link-colour--lighter);
    border-color: var(--link-colour--lighter);
  }
}

.success-message {
  align-items: center;
  background-color: var(--success-message-light);
  border: 1px solid var(--success-message-dark);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.success-message__btn {
  background-color: var(--success-message-button);
  border: inherit;
  color: var(--text-colour);
  cursor: pointer;
  margin: 1rem 0;
  padding: 8px 10px;

  &:hover {
    background-color: var(--success-message-dark);
  }
}
