label {
  display: block;
  font-weight: 500;
  padding-bottom: 5px;
}

input,
textarea {
  border: 1px solid #dee4ea;
  display: block;
  padding: 7px;
  width: 100%;
}

textarea {
  resize: vertical;
}

.contact-form {
  max-width: 500px;
}

.contact-form__row {
  margin-bottom: 1.5rem;
}

.contact-form__btn {
  background-color: #fff;
  border: 1px solid #dee4ea;
  cursor: pointer;
  padding: 10px 15px 12px;

  &:hover {
    background-color: $link-colour--lighter;
    border-color: $link-colour--lighter;
  }
}

.success-message {
  align-items: center;
  background-color: #d7e6d7;
  border: 1px solid darken(#d7e6d7, 5%);
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.success-message__btn {
  background-color: lighten(#d7e6d7, 5%);
  border: inherit;
  cursor: pointer;
  margin: 1rem 0;
  padding: 8px 10px;

  &:hover {
    background-color: darken(#d7e6d7, 5%);
  }
}
