.header {
  grid-area: header;
}

.header__wrapper {
  position: relative;
}

.site-title__link {
  color: var(--text-colour);
  display: inline-block;
  margin-bottom: 1rem;
  margin-left: -6px;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--link-colour--lighter);
  }
}

.site-title {
  font-size: 2.25rem;

  display: block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 1rem;
  margin-left: -6px;
  padding: 5px;
  text-transform: uppercase;

  .site-title__link & {
    margin-left: 0;
    margin-bottom: 0;
    padding: 5px;
  }
}

.site-title--light {
  font-weight: 300;
}

@supports (display: grid) {
  @media screen and (min-width: 950px) {
    .header {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .header__wrapper {
      position: sticky;
      top: 2rem;
    }

    .site-title {
      align-items: flex-end;
      display: inline-flex;
      flex-direction: column;
      margin-bottom: 2rem;
      margin-left: 0;
      padding: 5px;
    }

    .site-title__link {
      margin-bottom: 2rem;
      margin-left: 0;
    }
  }
}

.theme-switcher-button {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 5px;

  &:focus,
  &:hover {
    background-color: var(--link-colour--lighter);
  }

  @media screen and (min-width: 950px) {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    position: static;
    top: unset;
  }
}

.theme-switcher-button--moon {
  color: #060cca;

  .dark & {
    display: none;
  }

  .light & {
    display: block;
  }
}

.theme-switcher-button--sun {
  color: yellow;

  .dark & {
    display: block;
  }

  .light & {
    display: none;
  }
}