.page-title {
  border-bottom: 1px solid var(--link-colour--lighter);
  padding-bottom: 0.25rem;
}

.post-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.post-list__item {
  align-items: center;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.post-list__datetime {
  @include font-size(0.75rem);

  align-items: center;
  background-color: var(--link-colour--lightest);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
  min-width: 8ch;
  padding: 5px;
}

.post-list__link {
  @include font-size(1.125rem);

  font-weight: 500;
}

.deprecation-notice {
  background-color: var(--deprecation-message-light);
  border: 1px solid var(--deprecation-message-dark);
  margin-bottom: 1rem;
  padding: 0.5rem;

  @media screen and (min-width: 750px) {
    margin-bottom: 2rem;
    padding: 1rem;
  }
}

.post__datetime {
  @include font-size(0.875rem);

  background-color: var(--link-colour--lightest);
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 5px;
}

.post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
  }
}

.heading-anchor {
  @media screen and (min-width: 700px) {
    left: -0.8em;
    position: absolute;
    width: 0.8em;
  }
}

.heading-anchor__symbol {
  @media screen and (min-width: 700px) and (hover: hover) {
    visibility: hidden;

    h2:hover &,
    h3:hover &,
    h4:hover &,
    h5:hover &,
    h6:hover &,
    .heading-anchor:focus & {
      visibility: visible;
    }
  }
}

.tip {
  background-color: var(--link-colour--lightest);
  border: 1px solid var(--link-colour--lighter);
  border-radius: 7px;
  padding: 10px 10px 10px 36px;
  position: relative;

  &::before {
    content: "💡";
    left: 10px;
    position: absolute;
  }
}
