$rfs-base-font-size: 1rem !default;
$rfs-font-size-unit: rem !default;

$text-colour: #222;

$link-colour: #017893;

$link-colour--light: rgba(#017893, 0.3);
$link-colour--lighter: rgba(#017893, 0.2);
$link-colour--lightest: rgba(#017893, 0.05);
