{% include "partials/head.html" %}
  <main>
    <h1 class="page-title">{{ title }}</h1>

    <form
      action="/thank-you/"
      class="contact-form"
      data-netlify="true"
      id="contact"
      name="contact"
      netlify-honeypot="bot-field">
      <div class="contact-form__row">
        <p class="text-aside">Please fill in all fields before submitting.</p>
      </div>

      <div hidden class="hidden">
        <label>Don't fill this out <input type="text" name="bot-field"></label>
      </div>

      <div class="contact-form__row">
        <label for="contact-name">
          Name
        </label>
        <input
          id="contact-name"
          name="name"
          required
          type="text">
      </div>

      <div class="contact-form__row">
        <label for="contact-email">
          Email
        </label>
        <input
          id="contact-email"
          name="email"
          required
          type="email">
      </div>

      <div class="contact-form__row">
        <label for="contact-msg">
          Message
        </label>
        <textarea
          id="contact-msg"
          name="message"
          required
          rows="10"></textarea>
      </div>

      <div class="contact-form__row">
        <button
          class="contact-form__btn"
          type="submit">
          Send message
        </button>
      </div>
    </form>
  </main>

  {% include "partials/footer.html" %}
  <script type="module" src="/js/contact.mjs"></script>
  {% include "partials/end.html" %}