{% include partials/head.html %}
  <main>
    <p class="feature">Hello! <span role="img" aria-label="Waving hand">👋</span></p>

    <p class="feature">I'm a front-end developer based in Eindhoven, the Netherlands. I build responsive, accessible websites with a focus on performance.</p>
    
    <hr>

    <h2>Recent posts</h2>

    {% assign posts = collections.last5Posts %}
    {% include partials/post-list.html %}

    {% if collections.last5Posts.length > 5 %}<a href="/posts">See all posts &rarr;</a>{% endif %}

    <hr>

    <h2>Appearances</h2>

    <ol class="post-list" reversed>
    {% for appearance in appearances %}
      <li class="post-list__item">
        <time class="post-list__datetime" datetime="{{ appearance.date }}">
          <span>{{ appearance.date | getDayMonth }}</span>
          <span>{{ appearance.date | getYear }}</span>
        </time>
        <span class="post-list__text-wrapper">
          <a href="{{ appearance.url }}" class="post-list__link" target="_blank" rel="noopener noreferrer">{{ appearance.title }}</a>
          <span class="post-list__secondary-text">{{ appearance.type }}: {{ appearance.on }} ({{ appearance.location }})</span>
        </span>
      </li>
      {% endfor %}
    </ol>
  </main>
  {% include partials/footer.html %}
</div>
{% include partials/end.html %}