{% include partials/head.html %}
  <main>
    <p class="feature">Hello! <span role="img" aria-label="Waving hand">👋</span></p>

    <p class="feature">I'm a front-end developer based in Eindhoven, the Netherlands. I build responsive, accessible websites with a focus on performance.</p>
    
    <!-- <hr>

    <h2>Recent posts</h2>

    {% include partials/post-list.html %}

    <a href="/posts">See all posts &rarr;</a> -->
  </main>
  {% include partials/footer.html %}
</div>
{% include partials/end.html %}