<header class="header">
  <div
    id="header"
    class="header__wrapper"
  >
    {% if page.url == '/' %}
    <h1 class="site-title">
      <span>Rhian</span> <span class="site-title--light">van</span> <span>Esch</span>
    </h1>
    {% else %}
    <a href="/" class="site-title__link">
      <span class="site-title">
        <span>Rhian</span> <span class="site-title--light">van</span> <span>Esch</span>
      </span>
    </a>
    {% endif %}

    <nav class="main-menu">
      <ul class="main-menu__list">
        {% if page.url == item.url %}
          {% assign activeClass = ' main-menu__list-item--active' %}
        {% endif %}

        {% for item in navigation.items %}
        <li class="main-menu__list-item{{ activeClass }}">
          <a class="main-menu__link" href="{{ item.url }}">
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <ul class="social-menu">
        <li class="social-menu__item">
          <a href="https://toot.cafe/@rhianvanesch" class="social-menu__link">
            {% include "partials/icons/mastodon.html" %}
            <span class="screen-reader-only">Mastodon</span>
          </a>
        </li>
        <li class="social-menu__item">
          <a href="https://github.com/escherina" class="social-menu__link">
            {% include "partials/icons/github.html" %}
            <span class="screen-reader-only">GitHub</span>
          </a>
        </li>
        <li class="social-menu__item">
          <a href="https://www.linkedin.com/in/rhianvanesch" class="social-menu__link">
            {% include "partials/icons/linkedin.html" %}
            <span class="screen-reader-only">LinkedIn</span>
          </a>
        </li>
      </ul>
    </nav>

    <button
      id="theme-switcher-button"
      class="theme-switcher-button"
      hidden
    >
      <span class="screen-reader-only">
        Toggle site theme
      </span>
      
      {% include "partials/icons/sun.html" %}

      {% include "partials/icons/moon.html" %}
    </button>
  </div>
</header>
  